@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.content_container h1 {
    @apply block p-1 md:p-0 text-3xl font-bold text-gray-800 sm:text-4xl md:text-5xl;
}

.content_container p, .content_container ul, .content_container li {
    @apply text-xl text-gray-700 tracking-tighter mt-5;
    font-family: 'Roboto Mono', sans-serif;
}

.content_container ul {
    line-height: 3rem;
}

.content_container ul li {
    margin-top: 10px;
}

.sidebar_li li {
    transition: all 0.2s ease-in;
    border-radius: 0.375rem;
    padding: 0.5rem;
    width: 100%;
}

.sidebar_li li:hover {
    background-color: #f4f4f5;
    cursor: pointer;
}