@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.content_container h1 {
    @apply block p-1 md:p-0 text-3xl font-bold  sm:text-4xl md:text-5xl mt-10;
}

.content_container h2 {
    @apply block p-1 md:p-0 text-2xl font-medium  sm:text-3xl md:text-4xl mt-8 mb-4;
}

.content_container p, .content_container ul, .content_container li {
    font-family: 'Inter', sans-serif;
    @apply text-xl  tracking-tighter mt-5;
    font-family: 'Roboto Mono', sans-serif;
}

.content_container ul {
    line-height: 3rem;
}

.content_container ul li {
    margin-top: 10px;
}

.sidebar_li li {
    transition: all 0.2s ease-in;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    padding: 0.5rem;
    width: 100%;
    cursor: pointer;
    margin-top: 0.2rem;
}


.lists ul, .o_lists ol, .nested ol, .nested ul{
    margin-left: 20px;
}

.lists ul {
    list-style-type: disc;
}

.o_lists ol {
    list-style-type: decimal;
}

.nested ol {
    list-style-type: decimal;
}

.nested ul {
    list-style-type: disc;
}

.active-list-item {
    background-color: #f4f4f5;
}

details {
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 10px;
    transition: max-height 0.5s ease;
}
summary {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 30px; /* add padding for the width of the closed icon */
    list-style: none;
    border-radius: 20px;
}
  
details[open] > summary::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="darkgray" class="w-6 h-6" %3E%3Cpath stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" /%3E%3C/svg%3E');
    position: absolute;
    left: 0.4em;
  }
  
details > summary::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="darkgray" class="w-6 h-6" %3E%3Cpath stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" /%3E%3C/svg%3E');
    position: absolute;
    left: 0.4em;
}